*{
   text-decoration: none;
}
body{
   text-align: center;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background: url(psu.png) no-repeat;
   background-size: cover;
   background-position: center;
}

header{
   margin-top: 20px;
   position: fixed;
   top: 0;
   left: 0;
   width: 85%;
   padding: 1rem 9%;
   background-color: transparent;
   filter: drop-shadow(10px);
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
}

.logo{
   font-family: Roboto;
   font-size: 25px;
   color: rgb(16, 46, 184);
   font-weight: bold;
   cursor: pointer;
   transition: 0.5s;
   
}

.logo:hover{
   transform: scale(1.1);
}

nav a{
   font-family: Roboto;
   font-size: 25px;
   color: rgb(16, 46, 184);
   margin-left: 20px;
   font-weight: 500;
   transition: 0.3s;
   border-bottom: 3px solid transparent;
}
nav a:hover{
   color: rgb(236, 214, 11);
   border-bottom: 3px solid rgb(236, 214, 11);

}

.title-head{
   font-family: Roboto;
   font-size: 36;
   color: #4285F4;
}

.title-sparate{
   color: rgb(236, 214, 11);
}

.search-box {
   width: 50%;
   max-width: 600px;
   display: flex;
   border: 1px solid #ccc;
   border-radius: 24px;
   padding: 10px;
   background-color: white;
}

.search-box input {
   flex: 1;
   border: none;
   outline: none;
   font-size: 16px;
   padding: 5px;
}
.search-box button {
   background-color: #4285F4;
   border: none;
   color: white;
   padding: 10px 15px;
   border-radius: 24px;
   cursor: pointer;
   transition: .3s;
}

.search-box button:hover {
   background-color: #357ae8;
}